// Container fluid padding fix
// Ensures content has proper spacing when using full-width containers

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 576px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 992px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @media (min-width: 1200px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media (min-width: 1400px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
